<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Attendance Manager - Home</title>
</head>
<body>
    <div class="navBar">
        <label id="home_title">Attendance Manager</label>
        <button id="home_logout_btn">Logout</button>
    </div>

    <div id="home_working_area">
        <div id="subject_list_area">
            <div id="new_subject_card">
                <form action="/newSubject" method="POST">
                    <div id="new_subject_dets">
                        <label class="subject_card_title_txt">Subject Name:</label>
                        <input type="text" id="new_subject_name" name="new_subject_name"><br>
                        <div id="new_subject_att_dets">
                            <label class="subject_card_attended_txt">Attended:</label>
                            <input type="text" id="new_subject_attended" name="new_subject_attended">
                            <label class="subject_card_total_txt">Total:</label>
                            <input type="text" id="new_subject_total" name="new_subject_total">
                            <label class="subject_card_target_txt">Target: </label>
                            <input type="text" id="new_subject_target" name="new_subject_target">
                        </div>
                    </div>
                    <div id="new_subject_controls">
                        <input type="submit" id="new_subject_create_btn">
                    </div>
                </form>
            </div>
        </div>
        <div id="subject_details_area">
        </div>
    </div>

    <script src="scripts/HomePage.js"></script>
</body>
</html>