<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Password Reset Link Sent</title>
</head>
<body style="background-color: #3599dc;">
    <div class="auth_form_area">
        <label class="auth_title">Password Reset Link Sent</label>
        <form action="/" method="GET">
            <input type="submit" class="auth_submit" value="Return to login page">
        </form>
    </div>
</body>
</html>