

body{
    display: block;
    margin: auto;
}

.navBar{
    display: block;
    background-color:#3599dc;
    height: 10vh;
    padding:15px;
    border: 2px solid black;
}

#home_title{
    display: block;
    font-size: 25px;
    text-align: center;
    font-family: cursive;
}

#home_logout_btn{
   display: block;
   margin-left: auto;
   font-size: large;
   border-radius: 4px;
   font-family: cursive;
}

#home_working_area{
    display: block;
    background-color: blue;
    height: 100%;
}

#subject_list_area{
    display: inline;
    background-color: chartreuse;
    width: 50%;
    height: 100%;
    position:absolute;
    left: 0;
    overflow: scroll;
}

#subject_details_area{
    display: inline;
    background-color: teal;
    width: 50%;
    height: 100%;
    position: absolute;
    opacity: 0;
    right: 0;
    outline: 2px solid yellow;
    overflow-y: hidden;
}


#subject_cards {
    display: block;
    background-color: blueviolet;
    height: 100%;
}

.subject_card{
    display: block;
    background-color: aliceblue;
    border: 2px solid black;
    height: 11%;
    overflow-x: auto;
    padding: 4px;
}

.subject_card_dets{
    display: inline;
}

.subject_card_controls{
    display: inline;
    float: right;
}

.subject_card_title_txt{
    display: inline;
    font-size: 25px;
    font-family: cursive;
    font-weight: bolder;
}

.subject_card_attended_txt{
    display: inline;
    font-size: 15px;
    font-family: cursive;
    font-weight: bolder;
}

#new_subject_card{
    display: block;
    height: 15%;
    background-color: aliceblue;
    overflow: auto;
    padding: 4px;
    border: 2px solid black;
}

#new_subject_dets{
    display: inline;
}

#new_subject_controls{
    display: inline;
    float: right;
}

#subject_toolbar{
    display: block;
    height: 6%;
    background-color: white;
    padding: 1%;
    border: 2px solid black;
}

#calendar_header{
    display: block;
    text-align: center;
    font-size: 25px;
    background-color:#3598dc;
    border: 2px solid black;
}

#calendar_body{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar_cell{
    display: inline;
    background-color:white;
    padding: 16px;
    border: 2px solid black;
    text-align: center;
}

.auth_form_area
{
    display: block;
    background-color: white;
    position: absolute;
    top: 20%;
    left: 30%;
    width: 30%;
    text-align: center;
    overflow-y: auto;
    margin: auto;
    border-radius: 5px;
    padding: 5%;
}

.auth_title{
    display: block;
    font-size: 50px;
    color: grey;
}

.auth_textbox{
    display: block;
    margin-top: auto;
    width: 90%;
    font-size: 25px;
    background-color: #f2f2f2;
    border: 0px;
    padding: 8px;
}

.auth_submit{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 94%;
    padding:8px;
    background-color: #3598dc;
    color: white;
    border: 0px;
    font-size: 25px;
}

.auth_error_alert{
    color: red;
    font-style: italic;
}

.auth_form_area #forgot_password{
    float:left;
    display: block;
    margin-bottom: 10px;
}